@font-face {
    font-family: 'SourceHanSerifSC';
    src: url("https://darkflamemasterdev.github.io/SourceHanSerifSC/SourceHanSerifSC-Bold.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SourceHanSerifSC';
    src: url("https://darkflamemasterdev.github.io/SourceHanSerifSC/SourceHanSerifSC-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}