/* noto-serif-sc-regular - chinese-simplified */
@font-face {
    font-family: 'Noto Serif SC';
    src: url('noto-serif-sc-v34-chinese-simplified-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* noto-serif-sc-700 - chinese-simplified */
@font-face {
    font-family: 'Noto Serif SC';
    src: url('noto-serif-sc-v34-chinese-simplified-700.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
